fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;
  }
  
  input, textarea, select {
    background-color: azure;
    border: 1px solid #0a0a23;
    color: darkcyan;
  }
  
  h1, p {
    margin: 1em auto;
    text-align: center;
  }
  
  form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
  }
  
  label {
    display: block;
    margin: 0.5rem 0;
  }
  
  .user-input {
      width: 300px;
      display: block;
  }